{% extends 'base2.html' %}
{% block title %}
About Us
{% endblock title %}



{% block wb %}
  
<br><br><br><br><br><br>    
<div class="container w-75   " style="box-shadow: 0 0 20px black;">
    <br><br>
<h2>About Us</h2><br>

   <p>Hello, My name is Abhisar Jain. I am pursuing B.tech in computer sciene from The Northcap University, Gurugram. I have developed this blog website as my internship project with the help of a Python framework - Django. Here, users can upload their blogs, and CRUD operations can be done.
 </p>
<p>My Profile :  <a href="https://www.linkedin.com/in/abhisar-jain-00b020186"> Abhisar Jain</a></p>
<br><br>

    </div>

{% endblock wb %}